<%= form_for @profile, url: user_profile_path, html: {multipart: true} do |f| %>
            <div class="form-group">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, placeholder: "please enter your first name", class:"form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, placeholder: "please enter your last name", class:"form-control" %>
            </div>
            
            <div class="form-group">
                <%= f.label :avatar %>
                <%= f.file_field :avatar, class:"form-control" %>
            </div>
            
            <div class="form-group">
                <%= f.label :job_title %>
                <%= f.select :job_title, ['Developer', 'Entrepreneur', 'Investor'], {prompt: "What are you?"}, class:"form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :phone_number %>
                <%= f.text_field :phone_number, placeholder: "Which number can people reach you using?", class:"form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :contact_email %>
                <%= f.text_field :contact_email, placeholder: "please enter your email", class:"form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, placeholder: "say something about yourself", class:"form-control" %>
            </div>
            <div class="form-group">
                <%= f.submit "Submit Profile", class:"btn btn-primary" %>
            </div>
            
<% end %>