<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">Fill out your profile</h1>
        <p class="text-center">Join the comunity and meet thousands of developers, investors and enterpreneurs</p>
        <div class="well">
            <%= render "form" %>
        </div>
    </div>
</div>