<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <%= hidden_field_tag "plan", params[:plan] %>    
    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
        
    <div class="field form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
        
    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= label_tag :card_number, "Credit Card Number" %><br />
      <%= text_field_tag :card_number, nil, name: nil, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= label_tag :card_code, "Security code on card (CVV)" %><br />
      <%= text_field_tag :card_code, nil, name: nil, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= label_tag :card_month, "Card expiration" %><br />
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
    </div>
        
    <div class="actions form-group">
      <%= f.submit "Sign up", class: "btn btn-success", id: "form-submit-btn" %>
    </div>
<% end %>