<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <% if params[:plan] == '2' %>
        <h2>Sign up Premium</h2>
        <%= render "premium_form" %>
      <% else %>
        <h2>Sign up Basic</h2>
        <%= render "basic_form" %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
