<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Meet the community</h2>
        <p>You too can appear as part of the community after filling in your profile</p>
        <% @users.each do |user| %>
            <% if user.profile %>
            <div class="row well <%= cycle('blue-bg', '') %>">
                <div class="col-sm-4 text center">
                    <%= link_to user do %>
                        <%= image_tag user.profile.avatar.url(:thumb), class:"avatar" %>
                    <% end %>
                </div>
                <%= link_to user do %>
                    <h3><%= user.profile.first_name %> <%= user.profile.last_name %></h3>
                <% end %>
                <p>
                    <strong><%= user.profile.job_title %></strong>
                    <% if user.plan_id == 2 %>
                    <span class="label label-warning">Pro</span>
                    <% end %>
                </p>
            </div>
                
            <% end %>
        <% end %>
    </div>
</div>


    
