<div class="row">
    <div class="col-md-3 text-center">
        <%= image_tag @user.profile.avatar.url(:medium), class: "avatar" %>  
    </div>
    <div class="col-md-6">
        <h2><%= @user.profile.first_name %> <%= @user.profile.last_name %></h2>
        <h3><span class="job-title"><%= job_icon %></span><%= @user.profile.job_title %></h3><br>
        <div class="well description">
            <h3>Description</h3>
            <p><%= @user.profile.description %></p>
        </div>
        <% if user_signed_in? && current_user.plan_id == 2 %>
            <div class=" well contact-info">
                <h3>Contact Information</h3>
                <%= @user.profile.phone_number %><br>
                <%= @user.profile.contact_email %>
            </div>
        <% end %>
</div>




