<div class="jumbotron text-center">
    <h1>Welcome to devmatch</h1>
    <p>Membership site where enterpreneurs meet developers</p>
</div>
<% if user_signed_in? %>
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Profile</h2>
            <% if current_user.profile %>
                <%= link_to "Show Profile", user_path(current_user), class:"btn btn-block btn-default" %>
                <%= link_to "Edit your profile", edit_user_profile_path(current_user), class:"btn btn-block btn-default" %>
            <% else %>
                <p class="text-center">Create a profile in order to interact with the community. Just click the button below</p>
                <%= link_to "Create a new profile", new_user_profile_path(current_user), class:"btn btn-block btn-default" %>
            <% end %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well text-center">
            <h2>Community</h2>
            <p>Here you will meet developers, enterpreneurs and investors. They are waiting to hear from you</p>
            <%= link_to "Why dont you meet the community?", users_path, class:"btn btn-block btn-default" %>
        </div>
    </div>
<% else %>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Basic plan</h2>
            <h4 class="text-center">Sign up for free</h4>
            <br>
            <%= link_to "Sign up Basic", new_user_registration_path(plan: @basic.id), class:"btn btn-default btn-large btn-block" %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Premium plan</h2>
            <h4 class="text-center">Subscribe for only 10$/ Month and get access to the community and contact information!</h4>
            <%= link_to "Sign up Pro", new_user_registration_path(plan: @premium.id), class:"btn btn-success btn-large btn-block" %>
        </div>
    </div>
</div>
<% end %>
