<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <h2 class="text-center">Contact Us</h2>
            <p class="text-center"><strong>Reach out to us if you have any questions</strong></p>
            <%= form_for @contact do |f| %>
                <div class="form-group">
                    <%= f.text_field :name, placeholder: "Please enter your name", class:"form-control" %>
                </div>
                <div class="form-group">
                    <%= f.email_field :email, placeholder: "Enter email address", class:"form-control" %>
                </div>
                <div class="form-group">
                    <%= f.text_area :comments, placeholder: "write a query", class:"form-control" %>
                </div>
                    <%= f.submit "Submit", class:"btn btn-primary" %>
            <% end %>
        </div>
    </div>
    
</div>