@import "bootstrap-sprockets";
@import "bootstrap";


.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.job-title {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
}

.job-title {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.well.description {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
  
  h3 {
    margin-top: 0px;
  }
  
}

.well.contact-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
  h3 {
    margin-top: 0px;
  }
}


.avatar {
  border-radius: 50%;
}

.blue-bg {
  background-color: #82CFFD;
}
