<!DOCTYPE html>
<html>
<head>
  <title>SaasProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'https://js.stripe.com/v2/', type: 'text/javascript' %>
  <%= tag :meta, :name => 'stripe-key', :content => STRIPE_PUBLIC_KEY %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  
</head>
<body>
  
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class:"navbar-brand" do %>
        <i class="fa fa-users"></i>
        DevMatch
        <% end %>
      </div>
      
      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <div class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"btn btn-danger navbar-btn" %>
          <% else %>
            <%= link_to "Log In", new_user_session_path, class:"btn btn-primary navbar-btn" %>
          <% end %>
          
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact Us", new_contact_path %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path(current_user) %></li>
        </ul>
        
        
      </div>
    </div>
  </nav>

<div class="container">
  <%- flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class:"alert alert-#{name} text-center") %>
  <% end %>
  <%= yield %>
</div>


</body>
</html>
